body, html{
    margin: 0;
    padding: 0;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.baniere{
    width: 100%;
    height: auto;
}

.logo{
    width: 4vw;
    height: auto;
}

h1{
    text-align: center;
    margin-top: 5vh;
    padding-top: 5vh;
    margin-bottom: 5vh;
    color: orange;
}

.bsfooter{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
}

section{
    
}

.menubootstrap{
    margin-bottom: 10vh;
}

/*Page Battle */

body{
    background-image: url("../images/marioVSsonic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

