body, html{
    margin: 0;
    padding: 0;
}


/* .sticky{
    position: fixed;
    top: 0;
    width: 100%;
} */

.menubootstrap{
    margin-bottom: 10vh;
}

.baniere{
    width: 100%;
    height: auto;
}

img{
    height: 200px;
    width: auto;
}

.logo{
    width: 4vw;
    height: auto;
}

h1{
    text-align: center;
    margin-top: 5vh;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.btn-group button{
    border-color: #000080;
    color: rebeccapurple;
}

.btn-group button:hover{
    background-color: #000080;
}

.modal-footer button{
    border-color: #000080;
    color: rebeccapurple;
}

.modal-footer button:hover{
    background-color: #000080;
}