

.logo{
    width: 4vw;
    height: auto;
}

h1{
    text-align: center;
}

  /*-----------CARD---------*/

.card-img-top{
    width: 50vw;
}

.cardlink, .cardlink:hover, .cardlink:visited{
    text-decoration: none;
    color: black;
}


h3.date{
    margin: 4vh 0 4vh 0;
    text-align: center
}

h1{
    margin: 2vh 0 2vh 0;
}

.cardate{
    
}